@model IEnumerable<LabDomain.Model.Author>

@{
    ViewData["Title"] = "5";
}
<form asp-action="RequestFivePost" method="post">
    <div class="row">
        <div class="col-md-4">
            <h1>Автори за вмістом деяких коментарів</h1>
            <div class="form-group">
                <label for="t">Content:</label>
                <input class="form-control" id="content" name="content" value="@ViewBag.Content" required />
            </div>
            <button type="submit" class="btn btn-primary mt-2">Send</button>
            <hr />

            @if (Model == null || !Model.Any())
            {
                <p>No items</p>
            }
            else
            {
                <h3>Results:</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pub in Model)
                        {
                            <tr>
                                <td>@pub.AuthorId</td>
                                <td>@pub.Name</td>
                                <td>@pub.Email</td>
                                <td>
                                    @{
                                        var bag = (IEnumerable<dynamic>)ViewBag.ComBag;
                                        var item = bag.FirstOrDefault(x => x.Author == pub.AuthorId);
                                        @item.Content;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</form>
